detoxify==0.5.2
fireworks-ai==0.15.0
matplotlib==3.9.2
numpy==2.0.1
pandas==2.2.2
scipy==1.14.0
sentence-transformers==3.0.1
torch==2.4.0
tqdm==4.66.5
transformers==4.44.0
umap-learn==0.5.6
wordcloud==1.9.3
